Source: ovideo
Section: gnome
Priority: extra
Maintainer: Botescu Costin <costin.botescu@gmail.com>
Build-Depends: debhelper-compat (= 11), ocompiler, libgtk2.0-dev, libgstreamer-plugins-base1.0-dev, libsoup2.4-dev, libjpeg-dev, libasound2-dev
Standards-Version: 3.9.6
Homepage: https://github.com/colin-i/ostream

Package: ovideo
Architecture: i386
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad
Description: O Video
